[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
plotly = "*"
openpyxl = "*"
pylightxl = "*"
dash-bootstrap-components = "*"

[dev-packages]
openpyxl = "*"

[requires]
python_version = "3.10"
